@font-face {
    font-family: "pizza";
    src: url('./fonts/hotpizza.ttf');
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),url('./images/pizza-pattern.jpg');
}

.header-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #f74949 0%, #faa307 100%);    
    box-shadow: 0px 0px 22px 0px rgba(255,255,255,0.69);
    border: solid 4px rgb(255, 183, 83);
    margin-bottom: 1rem;
    border-radius: 25px;
}

.subtotal-container {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    color: white;
    font-size: 24px
}

.footer-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #f74949 0%, #810202 100%);    backdrop-filter: blur(2px);
    /* box-shadow: 0px 0px 22px 0px rgba(255,255,255,0.69); */
    border-top: ridge 4px rgb(255, 255, 255);
    margin-bottom: 1rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.spacer {
    width: 20%;
}

.site-title {
    font-family: 'pizza';
    color: white;
    padding: 0;
    margin: 0;
    font-size: 50px;
    text-shadow: 
        2px 2px 0px #eb452b, 
        3px 3px 0px #efa032, 
        4px 4px 0px #46b59b, 
        5px 5px 0px #017e7f, 
        6px 6px 0px #052939, 
        7px 7px 0px #c11a2b
}

.footer-title {
    font-family: 'pizza';
    color: white;
    padding: 0;
    margin: 0;
    font-size: 30px;
    text-shadow: 
        2px 2px 0px #eb452b, 
        3px 3px 0px #efa032, 
        4px 4px 0px #46b59b, 
        5px 5px 0px #017e7f, 
        6px 6px 0px #052939, 
        7px 7px 0px #c11a2b
}

.footer-info-container {
    display: flex;
    margin-right: 1rem;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.bottom-subtotal-container {
    width: fit-content;
    justify-content: flex-end;
    padding-right: 10px;
    color: white;
    font-size: 24px;
    margin-right: 1rem
}

.icon {
    margin-right: 0.5rem;
    color: black
}

.bottom-icon {
    color: white;
    margin-right: 0.5rem
}

.top-price {
    margin-right: 0.5rem;
    color: black
}

.outer {
    height: auto;
    width:95vw;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pizza-viewer {
    width: 50%;
    height: 70vh;
    background-image: url('./images/table-top.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 25px;
    /* border-bottom-left-radius: 25px; */
}

.overlap {
position: relative;
}

.parent-img-responsive {
    width:100%;
	height:auto;
}

.img-responsive {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
}

.toppings-section {
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.form-headers {
    width: 100%;
    background-color: #fff;
    font-family: "pizza";
    padding-top: 0.5rem;
    border-radius: 25px;
}

.base-opt {
    height: 100%;
    /* background-color: #faa307; */
    background-image: linear-gradient(to top, rgba(247, 166, 90, 0.49) 50%, #faa307 100%);
    backdrop-filter: blur(5px)

    /* border-bottom-right-radius: 25px; */
}

.meats-opt {
    height: 100%;
    /* background-color: #720026; */
    background-image: linear-gradient(to top, #43001682 50%, #720026 100%);
    backdrop-filter: blur(5px)
    /* border-bottom-right-radius: 25px; */
}

.veggies-opt {
    height: 100%;
    /* background-color: #55a630; */
    background-image: linear-gradient(to top, #32820d79 50%, #55a630 100%);  
    backdrop-filter: blur(7px)
    /* border-bottom-right-radius: 25px; */
}

form {
    margin: 0
}

span {
    font-weight: 700;
}

.buttons {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    color: black;
}

.meats, .veggies, .base, .option {
    display: flex;
    width: 50%;
    height: 100%;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: #b40421;
    color: #EDF2F4;
    cursor: pointer;
}

.app, .base {
    height: fit-content;
}

.veggies {
    background-color: #55a630;
    border-top-right-radius: 25px;
}

.meats {
    background-color: #720026;
}

.base {
    background-color: #faa307;
    height: 100%;
}

.shadows {
    box-shadow: 0px -15px 25px -5px #ff340b, 0px -5px 25px -7px #fff203;
    border-top: 3px solid rgb(255, 229, 152);
}

h3 {
    height: auto;
    vertical-align: center;
    text-align: center;
}

.selected {
    background-color: whitesmoke;
    border-bottom: none;
    border-top: 5px groove #b40421;
    color: #2B2D42;
}

.choices {
    color: white;
}

.options {
    height: 100%
}

.meats-options {
    color: whitesmoke;
}

.price {
    color: white;
    font-style: italic;
    font-size: 12px;
}

.price-black {
    font-style: italic;
    font-size: 12px;
}

.choices {
    display: flex;
}

.tile-container {
    border: 3px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.tile-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 150px;

}

.title-container {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid white;
}

.title-details {
    font-family: 'pizza';
    padding-top: 0.5rem;
}

.slices-blurb {
    width: 100%;
    text-align: center;
    background-color: grey;
}

.calories-blurb {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 0.5rem;
}


/* Responsive Section */

@media (max-width: 1250px) {
    h3 {
        font-size: 22px
    }
}

@media (max-width: 1000px) {
    .outer {
        height: auto;
        width:90vw;
    }

    .spacer {
        display: none;
    }
    
    .site-title {
        font-size: 40px;
        margin-left: 1rem;
    }

    .app {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pizza-viewer {
        width: 90vw;
        height: fit-content;
        background-image: url('./images/table-top.png');
    }

    .toppings-section {
        width: 90vw;
        background-color: faa307;
        display: flex;
        flex-direction: column;
        margin-bottom: 0
    }


    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-responsive {
        max-width: 100%;
    }

    .pizza-viewer {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0;
    }

    h3 {
        margin-bottom: 0;
    }

    .veggies {
        border-top-right-radius: 0px;
    }

    .buttons {
        height: fit-content;
    }

    .meats, .veggies, .base, .option {
        height: 50px
    }

    .base-opt, .meats-opt, .veggies-opt {
        height: 100%;
        margin-bottom: 2rem;
    }
}

@media (max-width: 800px) {
    .bottom-subtotal-container {
        font-size: 20px
    }
}



@media (max-width: 700px) {
    .footer-container {
        width: 90vw;
    }

    .footer-info-container {
        width: 70%
    }

    .bottom-icon {
        color: white;
        margin-right: 0.2rem
    }

    .header-container {
        margin-top: 0
    }

    .spacer {
        display: none;
    }
    
    .site-title {
        font-size: 24px;
        margin-left: 1rem;
    }

    .footer-title {
        font-size: 24px
    }

    .base-opt, .meats-opt, .veggies-opt {
        margin-bottom: 2rem;
    }

    .subtotal-container {
        font-size: 16px;
        margin-right: 0    
    }

    .bottom-subtotal-container {
        font-size: 14px;
    }

    .pizza-viewer {
        width: 90vw;
    }
    .toppings-section {
        width: 90vw;
    }

    .topping-items {
        font-size: 12px;
    }

    .base-opt, .meats-opt, .veggies-opt {
        padding-bottom: 10px;
        margin-bottom: 2rem;
    }

    h3 {
        display: none;
    }

    h2 {
        font-size: 24px;
    }

    .pizza-viewer {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0;
    }
}
